APP_UPDATES_REPO_URL=https://apps.meecolabs.eu/howling/repo
APP_UPDATES_REPO_FINGERPRINT=DC10792FEB9658BCCB373293082C6855D01159A095333A0CDC7F9D08BAA5ED31
APP_UPDATES_REPO_USERNAME=
APP_UPDATES_REPO_PASSWORD=
